.nav{
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;

    &__position{
        position: relative;
        padding-top: 4rem;

        &__menu{
            &__middle{
                padding-top: 10vh;
                padding-bottom: 30vh;
            }

            &__bottom{
                align-items: center;
                &__line{
                    width: 100%;
                    background-color: white;
                    height: 1px;
                }
            }
        }
    }
}

body{
    background-color: red($color:red);
}

