.section_2{
    margin-top:50vh;
    margin-bottom: 80vh;
    display: flex;
    
    &__behind{
        width: 71vw;
        position: absolute;
        height: 100%;
        z-index: -1;
        /* right: 0; */
        margin-top: -10vh;
    }

    &__behind_1{
        width: 71vw;
        position: absolute;
        height: 130%;
        background-color: #F6F4F4;
        z-index: -1;
        /* right: 0; */
    }
}

.mobile-on{
    display: none;
}
.active{
    color: $text !important;
    font-weight: 700;
}

.btn{
    color: $selectorOff;
}

.none{
    visibility: hidden;
    max-height: 0;
    margin-bottom: 0 !important;
}

.partilhar3{
    width: 71vw;
        position: absolute;
        height: 320%;
        z-index: -1;
        margin-left: 80vw;
}

.line3{
    width:100vw;
    margin-right: -92vw;
    height: 1px;

    background-color: $text;
    
}

@include media-breakpoint-down(xs) { 

    .section_2{
        margin-top:15vh;
        margin-bottom: 20vh;
        display: block;

        &__behind{
            display: none;
        }
    
        &__behind_1{
            display: none;
        }
    }
    .mobile-on{
        display: block;
        margin-bottom: 5vh;
    }

    .mobile-off{
        display: none;
    }
}

@include media-breakpoint-down(md) { 
.section_2{
    margin-bottom: 40vh;
}

    .invisible{
        display: none;
    }
    
    .partilhar3{
        width: 71vw;
        position: absolute;
        height: 300%;
        z-index: -1;
        margin-left: 55vw;
}
    
}
