.section_2{
    margin-top:50vh;
    display: flex;
    
    &__behind{
        width: 80vw;
        position: absolute;
        height: 100%;
        z-index: -1;
        /* right: 0; */
        margin-top: -10vh;
        margin-left: -2vh;
    }

    &__behind_1{
        width: 71vw;
        position: absolute;
        height: 130%;
        background-color: #F6F4F4;
        z-index: -1;
        /* right: 0; */
    }
}



.individual_skill{
    margin-bottom: 8vh;
}

.mobile-on{
    display: none;
}
.active{
    color: $text !important;
    font-weight: 700;
}

.btn{
    color: $selectorOff;
}

.none{
    opacity: 0 !important;
    max-height: 0;
    margin-bottom: 0 !important;
}

.info_container {
    opacity: 1;
    transition: 0.5s;

}

.partilhar3{
    width: 71vw;
        height: 0%;
        margin-left: 80vw;
        margin-top: 40vh;
        margin-bottom: 30vh;
}

.line3{
    width:100vw;
    margin-right: -92vw;
    height: 1px;

    background-color: $text;
    
}
@include media-breakpoint-down(lg) { 
    .section_2{
        margin-bottom: 65vh;
    }
        
    }




@include media-breakpoint-down(md) { 
.section_2{
    margin-top: 25vh;
    margin-bottom: 5vh;
}

    .invisible{
        display: none;
    }
    
    .partilhar3{
        margin-top:30vh;
        margin-bottom: 25vh;
        width: 71vw;
        margin-left: 55vw;
}
    
}



@include media-breakpoint-down(sm) { 

    .section_2{
        margin-top:15vh;
        display: block;

        &__behind{
            height: 60%;
        }
    
        &__behind_1{
            display: block;
            width: 100vw;
            height: 130%;
            margin-top: 4vh;
        }
    }

    .partilhar3{
        margin-left: 20vw !important;
        margin-top: 20vh;
        margin-bottom: 20vh;
}
    .mobile-on{
        display: block;
        margin-bottom: 10vh;
    }

    .mobile-off{
        display: none;
    }
}


@media (min-width: 1000px) and (max-width: 1045px) { 

    @media (min-height: 1300px) and (max-height: 1400px) { 
        
       .section_2{
           margin-top: 20vh;
           margin-bottom: 10vh;
       }

       .partilhar3{
            margin-top: 25vh;
            margin-bottom:25vh;
       }
    }
  }   